:root {
    --background-color: #F7F5FA;
    --text-color: #2E2A32;
    --accent-color: #3C2A4D;
    --highlight-color:#C6A85E;
    --heading-text-color:#F7F5FA;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/******************* Fonts *******************/
body {
    font-family: 'Lora', serif;
    color: var(--text-color);
}   

h1 {
    background-color: var(--accent-color);
    color: var(--heading-text-color);
    font-size: 1.5rem;
    padding: 15px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    border-radius: 0 0 15px 15px;
}

/******************* Header *******************/
header {
  display: grid;
  grid-template-columns: auto 44px;
  padding: 5px 0 5px 10px;
  align-items: end;
  column-gap: 6px;
  background-color: var(--accent-color);
  padding-bottom: 20px;
}

header span {
  font-size: 1.2rem;
  color: var(--heading-text-color);
  padding-left: 15px;
}

/******************* Hamburger *******************/
.hamburger {
  background: none;
  border: none;
  color: var(--heading-text-color);
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
  content: "\2630";
}
.hamburger.show::before {
  content: "\00D7";
}

/******************* Navigation *******************/

.navigation {
  display: none;
  background-color: var(--accent-color);
}

.navigation.show {
  display: block;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
 
.navigation a {
  line-height: 60px;
  padding: 0 10px;
  text-decoration: none;
  color: var(--heading-text-color);
}

.show a {
  display: block;
}

.navigation a.current, 
.navigation a:hover  {
  background-color: var(--highlight-color);
  color: var(--text-color);
}

/******************* Footer *******************/

footer {
  background-color: var(--accent-color);
  color: var(--heading-text-color);
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}

.social {
  display: flex;
  justify-content: center;
  column-gap: 25px;
}

.social a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 22px;
}

.social img {
    padding: 5px;
    width: 50px;
    height: 50px;
}

/******************* Modal *******************/

dialog {
  width: 400px;
  height: 400px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);
  padding: 20px;
  margin: auto;
  
}
::backdrop {
  background-color: rgb(0 0 0 / 50%);
}

dialog button {
  position: absolute;
  top: 20px;
  right: 23px;
  padding: .5rem 1rem;
  height: 50px;
  border: none;
  background-color: transparent;
}

#closeModal {
    font-size:xx-large;
}

#closeModal :hover {
    cursor: pointer;
}

dialog h2 {
    background-color: var(--accent-color);
    color: var(--heading-text-color);
    padding: 10px;
    text-align: center;
    width: 100%;
}

/******************* Catalog/Order *******************/

#bookCards {
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

#bookCards section, 
#wishlistDisplay section {
    background-color: var(--background-color);
    padding: 10px;
    border-radius: 10px;
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

#bookCards button, 
#wishlistDisplay button {
    background-color: var(--accent-color);
    color: var(--heading-text-color);
    border-radius: 15px;
    width: 100%;

    margin-top: auto;
    font-size: large;
}

#bookCards .learn:hover,
#wishlistDisplay .learn:hover {
    background-color: var(--highlight-color);
    color: var(--text-color);
    transform: translateY(2px);
}

.center {
    text-align: center;
}

.cover {
    height: auto;
    width: auto;
    max-width: 200px;
    align-self: center;
    margin-top: auto;
}

dialog img {
    padding-top: 15px;
    display: block;
    margin: 0 auto;
    max-width: 200px;
    height: auto;
}

#bookCards .star, 
#wishlistDisplay .star{
    font-size: x-large;
    outline: none;
    border: none;
    box-shadow: none;
    color: var(--highlight-color);
    background-color: transparent;
    max-width: 25px;
    max-height: 25px;
    margin-top: -6px;
}

.wishlistContainer {
  display: flex;
  justify-content: center;
  align-items: center; 
  gap: 5px;
}

#wishlistDisplay {
  display: grid;
  width: 400px;
  gap: 15px;
  margin-bottom: 15px;
}

.wishlistSection h2 {
  color: var(--text-color);
  text-align: center;  
}

#wishlistHeader {
  margin: 10px;
}

.order {
  display: grid;
  grid-template-columns: 1fr;
  place-items: start;
}

/******************* Order Form *******************/

.form {
  width: 400px;
  margin: 2rem auto;
}

.form fieldset {
    margin: 2rem 0;
    border: none;
    padding: .5rem 2%;
}

.form legend {
    color: var(--text-color);
}

.form input[type="text"],
.form input[type="email"]
{
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 400px;
    background-color: white;
    appearance: none;
}

.form input:required {
    border-left: solid 4px red;
}

.form input:required:valid {
    border-left: solid 4px green;
}

.form label {
    display: block;
    padding-top: 1rem;
}

.thanks {
  text-align: center;
}

.thankYou {
  text-align: center;
}

.joinSections {
  display: grid;
  grid-template-columns: 1fr;
}

.levels div {
  background-color: var(--background-color);
  text-align: center;
  border: 1px solid black;
  margin: 20px;
  border-radius: 15px;
  height: 110px;
}

#placeOrder{
  border: none;
  background-image: linear-gradient(var(--accent-color), #1c1424);
  height: 40px;
  color: white;
  border-radius: 15px 15px 15px 15px;
  font-size: large;
  box-shadow: 1px 1px 4px #999;
  margin: -1rem 2% 2rem 2%;
  padding: 6px;
  width: 96%;
}

#placeOrder:hover {
  background-image: linear-gradient(var(--highlight-color), #a0894f);
  color: var(--heading-text-color);
  transform: translateY(2px);
}

.sectionHeading {
  text-align: center;
  padding: 5px;
  margin: 15px;
}

.thankYou {
  margin: 50px;
  text-align: left;
}

.thanks {
  margin: 15px;
}

.form label:has(input[type="checkbox"]) {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

input[type="checkbox"] {
  appearance: none;
  width: 1.5em;
  height: 1.5em;
  border: 2px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  display: grid;
  place-content: center;
  margin: 0;
}

input[type="checkbox"]::before {
  content: "";
  width: 1em;
  height: 1em;
  transform: scale(0);
  background-color: var(--highlight-color);
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transition: 120ms transform ease-in-out;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.total {
  font-size: large;
  margin-left: 100px;
  margin-top: 30px;
}

#orderedBooksList {
  list-style-type: none;
}