:root {
  --background-color: rgb(217, 217, 232);
  --red: #A23B3B;
  --blue: #2E4057;
}

* {
  box-sizing: border-box;
}

/******************* Header *******************/
header {
  display: grid;
  grid-template-columns: 24px auto 44px;
  padding: 5px 0 5px 10px;
  align-items: end;
  border-bottom: solid 1px var(--background-color);
  column-gap: 6px;
  background-color: var(--background-color);
  padding-bottom: 20px;
}

header img {
  display: block;
  width: 50px;
  height: auto;
  padding-right: 15px;
  padding-top: 1px;
}

header span {
  font-size: 1.2rem;
  color: black;
  padding-left: 15px;
}

/******************* Hamburger *******************/
.hamburger {
  background: none;
  border: none;
  color: black;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
  content: "\2630";
}
.hamburger.show::before {
  content: "\00D7";
}

/******************* Navigation *******************/

.navigation {
  display: none;
  background-color: var(--background-color);
}

.navigation.show {
  display: block;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
 
.navigation a {
  line-height: 60px;
  padding: 0 10px;
  text-decoration: none;
  color: black;
}

.show a {
  display: block;
}

.navigation a:hover {
  background-color: var(--red);
  color: white;
}

.navigation li.current {
  background-color: var(--blue);
}

.navigation li.current a {
  color: white;
}

/******************* Footer *******************/

footer {
  background-color: var(--background-color);
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}

.social {
  display: flex;
  justify-content: center;
  column-gap: 25px;
}

.social a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 22px;
}

.social img {
    padding: 5px;
    width: 50px;
    height: 50px;
}

/******************* Grid *******************/

.grid {
  padding: 20px;
  margin: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 12px;
  place-items: center;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}

.grid section {
  padding: 40px;
  background-color: white;
  width: 400px;
  height: 400px;
  text-align: center;
}


.grid h2 {
  margin-top: -5px;
  color: var(--blue);
  font-size: xx-large;
}

a {
  color: var(--blue);
}

.grid img {
  padding: 5px;
  margin: 5px;;
  height: 150px;
  width: auto;
}

/******************* List *******************/
tr:nth-child(even) {
  background-color: var(--background-color);
}
table, th, td {
  border: 2px solid;
}

table {
  margin: 50px auto;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
}

/******************* Buttons *******************/
.buttons {
  display: grid;
  grid-template-columns: 60px 60px;
  gap: 25px;
  padding: 15px;
  justify-content: center;  
}

button {
  margin: 0;
  padding: 0;
  background-color: white;
  width: 60px;
  height: 60px;
  border: none;
}

button img {
  margin: 0;
  width: 60px;
  height: 60px;
}

.view-btn img {
  display: none;
}

.view-btn .inactive-icon {
  display: inline;
}

.view-btn.active .active-icon {
  display: inline;
}

.view-btn.active .inactive-icon {
  display: none;
}

/******************* Body *******************/

main h1 {
  color: var(--blue);
  text-align: center;
}