:root {
  --background-color: rgb(217, 217, 232);
  --red: #A23B3B;
  --blue: #2E4057;
}

* {
  box-sizing: border-box;
}

/******************* Header *******************/
header {
  display: grid;
  grid-template-columns: 24px auto 44px;
  padding: 5px 0 5px 10px;
  align-items: end;
  border-bottom: solid 1px #ddd;
  column-gap: 6px;
  background-color: var(--background-color);
}

header img {
  display: block;
  width: 50px;
  height: auto;
  padding-right: 15px;
}

header span {
  font-size: 1.2rem;
  color: var(--blue);
  padding-left: 15px;
}

/******************* Hamburger *******************/
.hamburger {
  background: none;
  border: none;
  color: black;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
  content: "\2630";
}
.hamburger.show::before {
  content: "\00D7";
}

/******************* Navigation *******************/

.navigation {
  display: none;
}

.navigation.show {
  display: block;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
 
.navigation a {
    display: block;
    padding: .8rem 10px;
    text-decoration: none;
    border-bottom: solid 1px #ddd;
}

.navigation a:hover {
  background-color: var(--red);
  color: #ddd;
}

.navigation {
  background-color: var(--background-color)
}

.navigation a {
  color: black;
}

.navigation li.current {
  background-color:  var(--blue);
}

.navigation li.current a {
    color: #ddd;
}


/******************* Footer *******************/

footer {
  background-color: var(--background-color);
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}

.social {
  display: flex;
  justify-content: center;
  column-gap: 25px;
}

.social a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 22px;
}

.social img {
    padding: 5px;
    width: 50px;
    height: 50px;
}

.social a:hover {
  background-color: #ddd;
}

/******************* Body *******************/