@media only screen and (min-width: 38rem) {

    body {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-areas:"head nav" "main main" "foot foot";
        align-items: center;

        max-width: 900px;   
        margin: 0 auto;     
        width: 100%;
    }

    header { 
        grid-area: head;
        height: 60px;
    }

    #nav-bar { 
        grid-area: nav;
        justify-self: end; 
        margin: 0;
    }

    main { 
        grid-area: main;
    }

    footer { 
        grid-area: foot;
    }

    #nav-bar ul {
        display: flex;
        list-style: none;
    } 

    .hamburger { 
        display: none; 
    }
    .navigation { 
        display: block; 
    }
    .navigation a { 
        display: block;
        border: none; 
    }

    footer {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 15px;
    }

    .sections {
        display: grid;
        grid-template-columns: minmax(250px, 450px) 1fr 1fr;
        gap: 15px;
    }

    .sections section {
        width: 100%;
        min-width: 0;
    }

    .sections h2 {
        margin: 0;
    }

    .currentWeather img {
        height: 65px;
        width: auto;
        padding-left: 0;
    }

    .spotlights {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    .spotlights section {
        min-width: 0;
        width: 100%;
    }

    .joinSections {
        grid-template-columns: 1fr 1fr;
    }

    #places div img:hover {
        box-shadow: 0 0 50px #333;
    }

    #places div {
        grid-template-areas: 
        "photograph name"
        "photograph description"
        "photograph address"
        "photograph button";
    } 

    #places div img {
        transform: translateY(50%);
    }

}

@media only screen and (min-width: 64rem) {
    body {
        max-width: 1200px;
    }
    
    #places {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 1200px;
    }

    #places div img {
        width: 100%;
        height: 100%;
    }
}