* {
  box-sizing: border-box;
}

/******************* Header *******************/
header {
  display: grid;
  grid-template-columns: 24px auto 44px;
  padding: 5px 0 5px 10px;
  align-items: end;
  border-bottom: solid 1px #ddd;
  column-gap: 6px;
}

header img {
  display: block;
  width: 50px;
  height: auto;
}

header span {
  font-size: 1.2rem;
  color: #3A5C43;
  padding-left: 15px;
}

/******************* Hamburger *******************/
.hamburger {
  background: none;
  border: none;
  color: black;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
  content: "\2630";
}
.hamburger.show::before {
  content: "\00D7";
}

/******************* Navigation *******************/

.navigation {
  display: none;
  color: #3A5C43;
}

.navigation.show {
  display: block;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
 
.navigation a {
  display: block;
  padding: .8rem 10px;
  color: black;
  text-decoration: none;
  border-bottom: solid 1px #ddd;
}

.navigation a:hover {
  background-color: #D4A373;
}

.navigation {
  background-color: rgb(49, 49, 54);
}

.navigation a {
  color: white;
}

.navigation li.current {
  background-color: rgb(161, 161, 171);
}


/******************* Footer *******************/

footer {
  background-color: #eee;
  padding: 1rem 1px;
  text-align: center;
}

.social {
  display: flex;
  justify-content: center;
  column-gap: 8px;

}

.social a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 22px;
}

.social img {
  width: 22px;
  height: 22px;
}

.social a:hover {
  background-color: #ddd;
}

/******************* Main *******************/

main {
  padding-left: 10px;
  padding-right: 10px;
}

h1 {
  color: #3A5C43;
}

h2 {
  margin: 0;
  text-align: center;
  background-color: rgb(49, 49, 54);
  color: white;
  padding: 5px;
}

section {
  background-color: rgb(217, 217, 232);
}

.about p {
  margin: 10px;
  padding: 5px;
}

.profile img{
  display: block;
  margin: 0 auto;
  padding: 15px;
  width: 100%;
  height: auto;
}

.divs {
  display: grid;
  grid-template-columns: auto;
  row-gap: 15px;
}

.courses {
  display: grid;
  background-color: white;
}

.btns{
  list-style-type: none;
  margin: 0;
  padding: 10px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.courses ul li {
  flex: 1;
  max-width: 500px;
}

.courses ul li button {
  width: 100%;
}

.courses button {
  background-color: #D4A373;
  border: solid black 1px;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
}

.classes {
  list-style-type: none;
  margin: 0;
  padding: 10px;
}

.classes li {
  text-align: center;
  background-color: #D4A373;
  border: solid black 1px;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
}

.courses p {
  text-align: center;
}

#class-list li.done {
  background-color: #ffd9b4;
}